<h2 mat-dialog-title>Card Title</h2>
<mat-dialog-content class="mat-typography">
  <p>This 6-month program is tailored for emerging AI startups and entrepreneurs eager to scale their ventures and make a meaningful impact.</p>
  <p>Whether your startup specializes in healthcare, finance, education, or transportation, this accelerator program arms you with the tools and knowledge to integrate AI effectively and responsibly.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="startDemo()">Start demo</button>
</mat-dialog-actions>